# Python
__pycache__/
*.py[cod]
*$py.class
*.venv
venv/
ENV/
env/

# Environments
.env
.env.local

# Databases
*.db
*.db-journal
*.wal
data/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
